/* header */
header{
    height: 100px;
    background: rgb(16, 41, 109);
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#imagen{
    width: 80px;
    height: auto;
}
#logo{
    text-transform: uppercase;
    color: aquamarine;
    font-size: 200;

}
.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order:1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: aquamarine;
}
#check{
    display: none;
}