section {
    width: 100vw;
    height: 80vw;
    /* scroll-snap-align: start;
    scroll-snap-stop: normal; */
    background-color: aqua;
    margin: 20px 0;
}
.lorem {
    background-color: #fff;
    height: auto;
}