/* Banner general */
.banner {
    height: 40vw;
    align-items: center;
    text-align: center;
    background-image: url(/img/estudiantes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}
.banner::before {
    content: '';
    background: rgba(3, 13, 41, 0.889);
    position: absolute;
    width: 100%;
    height: 40vw;
    left: 0;
}
.contenido-banner-saberes {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner-saberes h3 {
    font-size: 50px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

/* Sección de materias */
.materias {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.banner-materias {
    background-attachment: fixed;
    height: 25vw;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-materias::before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.banner-materias h3 {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    font-size: 50px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}
.contenido-materias {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    transition: 0.5s ease-in-out;
    background-color: #e0e0e0;
}
.contenido-materias.expanded {
    padding-bottom: 40px;
    max-height: none;
}

.texto-materias {
    margin: 10px 40px;
    font-size: 20px;
    line-height: 1.6;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
}
.boton-leer-mas {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #459fff;
    color: white;
    border-radius: 5px;
    display: none;
    transition: bottom 0.4s;
    z-index: 1;
}
.contenido-materias.expanded .boton-leer-mas {
    bottom: 0px;
}
/* Degradado al final del contenido */
.contenido-materias::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to bottom, transparent, white);
}

/* Botón flotante */
.float-button {
    right: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(16, 41, 109);
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: background-color 0.3s;
}

.float-button:hover {
    background-color: rgb(45, 98, 245);
}

.float-button i {
    font-size: 24px;
}

/* Animaciones para el menú */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

/* Menú desplegable */
.float-menu {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Clase para animar la entrada */
.float-menu.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    animation: slideIn 0.3s forwards;
}

/* Clase para animar la salida */
.float-menu.close {
    animation: slideOut 0.3s forwards;
    display: flex;
}

.float-menu a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

.float-menu a:hover {
    background-color: rgb(45, 98, 245);
    color: white;
}

.float-menu a:last-child {
    border-bottom: none;
}

@media (max-width: 600px) {
    .banner-materias {
        height: 70vw;
    }
}

@media (max-width: 425px){
    .contenido-banner-saberes h3,
    .banner-materias h3{
        font-size: 30px;
    }
}